h1{font-size: 2.0em;line-height: 120%;}
h2{font-size: 1.5em;line-height: 120%;}
h3{font-size: 1.17em;line-height: 120%;}
h4{line-height: 120%;}
h5{font-size: 0.83em;line-height: 120%;}
h6{font-size: 0.75em;line-height: 120%;}
code{font-family: monospace;}
