heading{
  text-transform: uppercase;
}
/*heading:before {
  counter-increment: scene;
  content: counter(scene) " ";
  display: inline-block;
  margin-left: -7%;
  width: 7%;
}*/
action{
}
character{
  display:inline-block;
  margin-left: 153px;
  margin-right: 16px;
  text-transform: uppercase;
}
parenthetical{
  display:inline-block;
  margin-left: 116px;
  margin-right: 155px;
}
parenthetical:before {
    content: '(';
}
parenthetical:after {
    content: ')';
}
dialogue{
  display:inline-block;
  margin-left: 77px;
  margin-right: 116px;
}
transition{
  display:inline-block;
  margin-left: 309px;
  margin-right: 39px;
  text-align: right;
  text-transform: uppercase;
}
shot{
  text-transform: uppercase;
}
