<li class="separator acl-write"></li>
<li id="script_elements" class="acl-write">
    <select id="script_element-selection">
        <option value="dummy" selected data-l10n-id="ep_script_elements.style">Style</option>
        <option value="7" data-l10n-id="ep_script_elements.general">General</option>
        <option value="0" data-l10n-id="ep_script_elements.heading">Heading</option>
        <option value="1" data-l10n-id="ep_script_elements.action">Action</option>
        <option value="2" data-l10n-id="ep_script_elements.character">Character</option>
        <option value="3" data-l10n-id="ep_script_elements.parenthetical">Parenthetical</option>
        <option value="4" data-l10n-id="ep_script_elements.dialogue">Dialogue</option>
        <option value="5" data-l10n-id="ep_script_elements.transition">Transition</option>
        <option value="6" data-l10n-id="ep_script_elements.shot">Shot</option>
    </select>
</li>